* {
  box-sizing: border-box;
}

html {
  color: #fff;
  font-family: Roboto, Gotham, gotham, Verdana, sans-serif;
  font-size: 16px;
}

body {
  padding: 22px;
  background-color: #191919;
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "canvas"
    "themes"
    "footer";
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  grid-area: header;
}

canvas {
  grid-area: canvas;
  margin: 0 auto;
}

.themes {
  grid-area: themes;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

button {
  width: 22%;
  height: 44px;
  margin: 0 auto;
}

.dark {
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);

	background-color:#2dabf9;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.dark:hover {
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}

.dark:active {
  position:relative;
	top:1px;
}

.light {
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.light:hover {
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}

.light:active {
	position:relative;
	top:1px;
}

footer {
  grid-area: footer;
}

#date {
  text-align: center;
}

@media screen and (min-width: 640px) {
  .container {
    grid-template-areas:
      "header header"
      "canvas themes"
      "footer footer";
  }
  button {
    display: block;
    width: 100%;
    height: 54px;
    margin: 20px 0;
  }
}
